@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

body, #root {
  margin: 0;
  height: 100vh;
  background-color: aliceblue;
}

.app {
  padding: 10%;
}

.logo {
  font-size: 70px;
}