@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

body,
#root {
  margin: 0;
  height: 100vh;
  background-color: #131313;
}

h1, h2, h3, h4, h5, h6, p, small {
  color: #fff;
}

.app {
  padding: 10%;
}

.logo {
  font-size: 50px;
}

.image-parent {
  max-width: 40px;
}

.list-group-item {
  cursor: pointer;
}

.overlay-dark {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
}

.movieInfo-container {
  background-color: #000;
}

.dark-bg {
  background-color: #131313;
}

.list-group-item {
  background-color: #1f1f1f !important;
}

.btn-primary {
  background-color: #ffbc0e !important;
  color: black !important;
  border-color: #ffbc0e !important;
}

.page-link.active .page-link {
  background-color: #4f6073 !important;
}

.page-link:hover {
  cursor: pointer;
}

.page-link, .page-item.disabled .page-link {
  background-color: #202020 !important;
  border-color: #202020 !important;
}

.avatar {
  position: absolute;
  top: 0;
  right: 0;
}

.movie-title {
  font-size: 2em;
}

.logout {
  position: absolute;
  bottom: 0;
  padding-left: 1em;
  cursor: pointer;
  text-decoration: underline;
}