@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

body, #root {
  margin: 0;
  height: 100vh;
  background-color: #f1f2f3;
}

.app {
  padding: 10%;
}

.logo {
  font-size: 50px;
}

.image-parent {
  max-width: 40px;
}

.list-group-item {
  cursor: pointer;
}

.navbar {
  background-color: #f1f2f3;
}

.overlay-dark {
  position: absolute;
  background-color: rgba(0,0,0, 0.7);
}

.movieInfo-container {
  background-color: #000;
}